footer {
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(-60deg, peru, rgb(255, 166, 0) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}
footer .icon ul {
    display: block;
    list-style: none;
}
footer i {
    font-size: 30px;
}