/* .form{
    transform: translate(-700px);
    position: relative;
} */
.navbar{
    background-image: linear-gradient(-60deg, peru, rgb(255, 166, 0) 100%);
}
.navbar-brand{
    color: black;
}
.btn{
    color: black;
}
.user{
    margin: 5px;
    color: black;
}